@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;
@use 'sass:color';

.button {
  display: block;
  width: 100%;
  padding: 2rem;
  color: v.$white;
  font-weight: 700;
  background-color: v.$dark-slate-grey;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;

  &:hover {
    cursor: pointer;
    background: linear-gradient(to right, v.$wild-watermelon 10%, v.$tomato);
    box-shadow: 0px 9px 29px 2px color.scale(v.$tomato, $lightness: 40.94%);
  }

  &:focus {
    outline: 4px solid v.$tomato;
  }

  @include m.breakpoint-md() {
    padding: 1.5rem;
  }
}
