@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;
@use '../base/typography' as t;
@use 'sass:color';

/*------------------------------------------------------------------
[Table of contents]

1. Form
    1.1 General
    1.2 Validations
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[1.1 General]
-------------------------------------------------------------------*/

.form {
  &__label,
  &__email,
  &__submit {
    display: inline-block;
  }

  &__email,
  &__submit {
    width: 100%;
  }

  &__label,
  &__error {
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 1.2rem;
  }

  &__email {
    border: 2px solid transparent;
    margin-bottom: 2rem;
    padding: 2rem;
    border: 1px solid v.$grey;
    border-radius: 5px;

    &:focus-visible {
      outline: 2px solid;
    }

    &::placeholder {
      color: v.$grey;
    }
  }
}

/*------------------------------------------------------------------
[1.2 Validations]
-------------------------------------------------------------------*/

.form {
  &__row--label-error {
    display: flex;
    justify-content: space-between;
  }
  &__error {
    color: v.$tomato;
  }

  &__email--error {
    color: color.scale(v.$tomato, $lightness: 20%);
    background-color: color.scale(v.$tomato, $lightness: 87%);
    border: 1px solid color.scale(v.$tomato, $lightness: 20%);
  }
}
