@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;
@use '../base/typography' as t;
@use 'sass:color';

.form {
  &__label,
  &__email,
  &__submit {
    display: block;
    width: 100%;
  }

  &__label {
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 1.2rem;
  }

  &__email {
    margin-bottom: 2rem;
    padding: 2rem;
    border: 1px solid v.$grey;
    border-radius: 5px;

    &::placeholder {
      color: v.$grey;
    }
  }

  &__submit {
    padding: 2rem;
    color: v.$white;
    font-weight: 700;
    background-color: v.$dark-slate-grey;
    border: none;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
      background: linear-gradient(to right, v.$wild-watermelon 10%, v.$tomato);
      box-shadow: 0px 9px 29px 2px color.scale(v.$tomato, $lightness: 40.94%);
    }

    &:focus {
      outline: 4px solid v.$tomato;
    }

    @include m.breakpoint-md() {
      padding: 1.5rem;
    }
  }
}
